@import url('https://fonts.googleapis.com/css?family=Muli');

:root {
  --colorPrimary: #453630;
  --colorSecondary: #9B7E4B;
  --colorRose: rgb(255, 212, 234);
}

body {
  background: url('../img/bg.png');
  background-size: 400px;
  font-family: 'Muli', serif;
  color: var(--colorPrimary);
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  background: wheat;
  padding: 0 2rem 1rem;
  border: 2px dashed var(--colorPrimary);
  display: flex;
}

.main {
  max-width: 600px;
  margin-right: 2rem;
}

.secondary {
  width: 200px;
  background: var(--colorRose);
  border: 1px solid var(--colorPrimary);
  margin: 1rem 0;
  text-align: center;
}

h4 {
  margin-bottom: -0.5rem;
}

iframe {
  display: block;
  margin: 1rem auto;
  width: 120px;
  height: 240px;
  border: none;
}

form,
button,
input {
  font-size: 1.5rem;
  border: 1px solid;
}

form {
  padding: 1rem;
}

input {
  margin-left: 1rem;
}